<h1>Index Page</h1>

<%= current_user.email %>
<%= current_user.id %>


<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>


<a href="/vendors/<%=current_user.id%>/edit">Be a Vendor</a>
